<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid mt-3" id="app">
        <input type="text" class="form-control" v-model="criterioDeBusquedaNombre"
            placeholder="Busqueda por nombre completo">
        <div v-if="getCantidadLetrasNombre() > 0 && getCantidadLetrasNombre() < 3">
            <span style="color:red">Por favor. Ingrese al menos 3 caracteres para la busqueda por nombre</span>
        </div>
        <br>
        <input type="text" class="form-control" v-model="criterioDeBusquedaDocumento" 
            placeholder="Busqueda por dni">   
            <div v-if="getCantidadNumerosDocumento() > 0 && getCantidadNumerosDocumento()< 3">
                <span style="color:red">Por favor. Ingrese al menos 3 caracteres para la busqueda por nombre</span>
            </div>
        <br>
        <div class="card-deck m-0">
            <div class="row">
                <div class="col" v-for="persona in personasFiltradas">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                            <p class="card-text">dni {{persona.dni}}</p>
                            <a href="#" class="card-link">{{persona.correo}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        var app = createApp({
            data() {
                return {
                    criterioDeBusquedaNombre: '',
                    criterioDeBusquedaDocumento: '',
                    personas: [
                        {
                            nombre: "Daniel",
                            apellido: "Sanchez",
                            correo: "danielsanchez68@hotmail.com",
                            dni: "20442873"
                        },
                        {
                            nombre: "Juan",
                            apellido: "Perez",
                            correo: "j@p.gmail.com",
                            dni: "12345678"
                        },
                        {
                            nombre: "Ana",
                            apellido: "Suarez",
                            correo: "a@s.gmail.com",
                            dni: "87654321"
                        },
                        {
                            nombre: "Leandro",
                            apellido: "Meier",
                            correo: "leandromeier56@gmail.com",
                            dni: "42137135"
                        },
                        {
                            nombre: "Cosme",
                            apellido: "Fulanito",
                            correo: "cosmefulanito99@gmail.com",
                            dni: "41234556"
                        },
                    ]
                }
            },
            computed: {
                personasFiltradas() {
                    return this.personas.filter(persona => {
                        let registroCompleto = `${persona.nombre} ${persona.apellido}`;
                        let nombreCoincide = registroCompleto.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase());
                        let documentoCoincide = persona.dni.toLowerCase().includes(this.criterioDeBusquedaDocumento.toLowerCase());
                        return nombreCoincide && documentoCoincide;
                    });
                }
            },
            methods: {
                getNombreCompleto(persona) {
                    return `${persona.nombre} ${persona.apellido}`
                },
                getCantidadLetrasNombre(){
                    return this.criterioDeBusquedaNombre.length;
                },
                getCantidadNumerosDocumento(){
                    return this.criterioDeBusquedaDocumento.length;
                }
            }
        }).mount('#app')
    </script>    
</body>
</html>
